body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.weather-container {
  max-width: 900px;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3); 
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  text-align: center;
}

.weather-header {
  text-align: center;
}

.city-input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.weather-card {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

.temperature {
  font-size: 120px;
  margin: 10px 0;
}

.weather-details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.weather-detail-box {
  background: white; 
  color: black; 
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  width: 80%; 
  max-width: 400px; 
}

.error {
  color: red;
  font-weight: bold;
}
